<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8MT1A6Asuf5t9lKuwDrF905CNiLNOCHM</string>
	<key>GCM_SENDER_ID</key>
	<string>1072979298272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ostad.liveClassProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-batch-one</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-batch-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072979298272:ios:620a417ddeebef33df8d85</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-batch-one-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>